[submodule "config-server"]
	path = config-server
	url = https://github.com/rodercode/config-server.git
[submodule "Municipal-Transport"]
	path = Municipal-Transport
	url = https://github.com/nilsson46/Municipal-Transport.git
[submodule "group-transport-api"]
	path = group-transport-api
	url = https://github.com/rodercode/group-transport-api.git
[submodule "Enskild-Transport"]
	path = Enskild-Transport
	url = https://github.com/JuliusJak/Enskild-Transport
